<section id="hero">
    <div id="left-container">
        <div id="bg-shape">
        </div>
        <div id="prof_pic">
            <img src="/img/me.png" alt="Me">
        </div>
    </div>

    <div id="right-conainer">

        <div id="socmedia">
            <img id="email" src="img/Email button.png" alt="Email">
            <img id="github" src="img/Github button.png" alt="Github">
            <img id="linkedin" src="/img/Linkedin button.png" alt="linkedin">
        </div>
        <div>
            <img id="logo" src="img/logoMD.png" alt="Logo">
            <h1>Magda Danielyan </h1>
            <h2>FRONTEND DEVELOPER </h2>
            <a href="#app-why-me"><img id="arrow" src="img/Arrow down.png" alt=""> </a>
        </div>

    </div>
</section>