@use './../../styles.scss' as *;

#hero {
    display: flex;
    height: 705px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 65px;

}

h1 {
    color: #F8F5EC;
    font-weight: 400;
    font-size: 88px;
    font-family: 'Anta';
}


#prof_pic img {
    position: absolute;
    width: 535px;
    height: 683px;
    top: 25px;
    left: 114px;
    pointer-events: none
}

#left-container {
    width: 45%;
    height: 700px;
    position: relative;
}

#bg-shape {
    width: 580px;
    height: 616px;
    margin-left: 62px;
    margin-top: 55px;
    background-image: url('/img/Property 1=Default.png');
    background-size: cover;


}

#bg-shape:hover {
    background-image: url('/img/Property 1=hover.png');
    transform: rotate(-45deg);
    transition: all 0.5s ease-in;
    cursor: pointer;



}

#right-conainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 90px;
}

#socmedia {
    flex-direction: column;
    margin-left: 670px;
    margin-top: 25px;
    gap: 15px;
}

#name {
    display: flex;
    flex-direction: column;


}


#linkedin {
    width: 30px;
    height: 30px;
}

#linkedin:hover {
    background-image: url("/img/Property 1=hover blue.png");
    cursor: pointer;
}

#github {
    width: 30px;
    height: 30px;
}

#github:hover {
    background-image: url("/img/Element 6 2 (1).png");
    cursor: pointer;

}

#email {
    width: 30px;
    height: 30px;
}

#email:hover {
    background-image: url("/img/mail blue (1).svg");
    cursor: pointer;

}

#logo {
    width: 150px;
    height: 150px;
    margin-left: 250px;
    transition: all 0.3s ease-in;


}

#logo:hover {
    transform: scaleX(1.2);
    cursor: pointer;

}

#arrow {
    display: flex;
    margin-left: 310px;
    margin-top: 100px;
    width: 38px;
    height: 89px;
}


#arrow:hover {
    background-image: url("/img/Property 1=Hover (2).png");


}