@use './../../../styles.scss' as *;

#my_projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
    line-height: 1.3;
}

#project_nav {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 50px;
    margin-left: 50px;

}

#project_nav a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #89BCD9;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-style: medium;
    width: 248px;
    height: 97px;

    &.active {
        background-color: #2D383F;
        color: #F8F5EC;
        border-radius: 30px 30px 0 0;

    }

    &.hovered {
        background-color: #2D383F;
        border-radius: 30px 30px 0 0;

    }
}


@media (max-width:1450px) {
    #project_nav {

        gap: 80px;


    }

}

@media (max-width:1320px) {
    #project_nav {

        gap: 50px;
    }
}


@media (max-width:1220px) {
    #project_nav {

        gap: 30px;
    }



    #project_nav a {

        width: 200px;
        font-size: 24px;

    }
}