@use './../../../styles.scss' as *;

#my_projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
    line-height: 1.3;
}

#project_nav {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 50px;
    margin-left: 50px;

}

#project_nav a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #89BCD9;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-style: medium;
    width: 248px;
    height: 97px;

    &.active {
        background-color: #2D383F;
        color: #F8F5EC;
        border-radius: 30px 30px 0 0;

    }

    &.hovered {
        background-color: #2D383F;
        border-radius: 30px 30px 0 0;

    }
}


@media (max-width:1450px) {
    #project_nav {
        gap: 80px;

    }

}

@media (max-width:1340px) {
    #project_nav {

        gap: 50px;
    }

    #project_nav a {

        width: 180px;
        font-size: 24px;

    }
}


@media (max-width:1240px) {
    #project_nav {

        gap: 40px;
    }



    #project_nav a {

        width: 180px;
        font-size: 22px;

    }
}


@media (max-width:950px) {
    #project_nav {

        gap: 30px;
    }



    #project_nav a {

        width: 150px;
        font-size: 20px;

    }
}


@media (max-width:800px) {
    #project_nav {

        gap: 20px;

        .project_title {
            display: none;
        }
    }



    #project_nav a {

        width: 150px;
        height: 80px;
        font-size: 30px;

    }
}

@media (max-width:730px) {
    #project_nav {

        gap: 10px;


    }

    #project_nav a {

        width: 130px;
        height: 70px;

        font-size: 30px;

    }
}

@media (max-width:620px) {
    #project_nav {

        gap: 5px;
        margin-left: 20px;

    }

    #project_nav a {

        width: 110px;
        height: 60px;
        font-size: 26px;

    }
}

@media (max-width:490px) {
    #project_nav {

        gap: 5px;
        margin-left: 10px;

    }

    #project_nav a {

        width: 90px;
        height: 50px;
        font-size: 26px;

    }
}