@use './../../../styles.scss' as *;

#my_projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid red;
}





#project_nav {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin-top: 50px;
    margin-left: 50px;
}

#project_nav a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #89BCD9;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-style: medium;
    width: 248px;
    height: 97px;
}

#project_nav a:hover {
    background-color: #2D383F;
    border-radius: 30px 30px 0 0;
    color: #F8F5EC;

}

.activ {
    background-color: #2D383F;
    border-radius: 30px 30px 0 0;
    color: #F8F5EC;
}