<section id="my_projects">
    <h3>My Projects</h3>

    <nav id="project_nav">
        <a href="#" (click)="selectProject(0);$event.preventDefault()">1. Pokedex</a>
        <a href="#" (click)="selectProject(1);$event.preventDefault()">2. El Pollo Loco</a>
        <a href="#" (click)="selectProject(2); $event.preventDefault()">3. Da Bubble</a>
        <a href="#" (click)="selectProject(3); $event.preventDefault()">4. Join</a>
    </nav>

    <app-single [project]="selectedProject" />

</section>