<section id="my_projects">
    <div id="my_projects_container">
        <h3>{{'MY_PROJECTS.TITLE' | translate}} </h3>

        <div class="switch_nav">
            <nav id="project_nav">
                <a href="#" [ngClass]="{ 'active': selectedProjectIndex === 0, 'hovered': hoveredIndex === 0 }"
                    (click)="selectProject(0);$event.preventDefault()" (mouseenter)="onProjectHover(0)"
                    (mouseleave)="onProjectLeave()">
                    1. <span class="project_title"> Pokedex </span></a>
                <a href="#" [ngClass]="{ 'active': selectedProjectIndex === 1, 'hovered': hoveredIndex === 1 }"
                    (click)="selectProject(1);$event.preventDefault()" (mouseenter)="onProjectHover(1)"
                    (mouseleave)="onProjectLeave()">
                    2.<span class="project_title"> El Pollo Loco </span></a>
                <a href="#" [ngClass]="{ 'active': selectedProjectIndex === 2, 'hovered': hoveredIndex === 2 }"
                    (click)="selectProject(2);$event.preventDefault()" (mouseenter)="onProjectHover(2)"
                    (mouseleave)="onProjectLeave()">
                    3. <span class="project_title">Join</span></a>

                <a href="#" [ngClass]="{ 'active': selectedProjectIndex === 3, 'hovered': hoveredIndex === 3 }"
                    (click)="selectProject(3);$event.preventDefault()" (mouseenter)="onProjectHover(3)"
                    (mouseleave)="onProjectLeave()">
                    4.<span class="project_title">DaBubble</span> </a>

            </nav>
        </div>
        <app-single [project]="selectedProject" />
    </div>
</section>