@use './../../../styles.scss' as *;


@media (max-width:1145px) {


    h3 {
        margin-bottom: 40px;
    }

    #above_cont {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin: 0 10px;

    }

    #info {
        display: flex;
        flex-direction: column-reverse;

    }

    #let-us-work {
        display: block !important;
        font-size: 1.5rem;
        color: $primary-blue;
        margin-top: 50px;
        font-family: 'Josefin Sans';
        margin: 25px auto;
    }

    #contact_info {
        width: 80%;
        padding-right: 0;
        margin-left: 0;

    }

    #info {
        width: 80%;
        padding-left: 0;
    }

    #name_email {
        flex-direction: column;
        gap: 20px;
    }

    #your_name,
    #your_email {
        width: 100%;
        padding: 0 10px;
    }

    #send_button {
        margin-left: 70%;
    }

    #arrow_up {
        margin-top: 0;
        margin-left: 50%;
    }

    input {
        width: 95% !important;
    }

}

@media (max-width:760px) {

    #contakt_me {
        padding: 0.5rem;
    }

    #above_cont {
        margin: 0;
        gap: 10px;
    }

    #privacy_label {
        margin-left: 10px;
    }
}

@media (max-width:480px) {

    h3 {
        font-size: 2.8rem;
        margin-bottom: 30px;
    }

    p,
    span {
        font-size: 16px;
    }

    #send_button {
        margin-left: 60%;
    }
}

@media (max-width:440px) {

    #above_cont {
        margin: 0;
    }


}