@use './../../../styles.scss' as *;

#contakt_me {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 130px;
}


#above_cont {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 120px;

}

#contact_info {
    display: flex;
    width: 40%;
    margin-left: 20px;

}

#contact_info p {
    font-size: 18px;
    font-family: 'Josefin Sans';
    color: #F8F5EC;
    font-weight: 400;
    text-align: justify;

}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info p {
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 400;
    color: #F8F5EC;
    font-style: Regular;
}


#email a:hover {
    cursor: pointer;
    color: #89BCD9;
}


#email {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}

#email img {
    margin-top: -5px;
    margin-right: 10px;
}

#phone {
    display: flex;
    flex-direction: row;
}

#phone img {
    margin-top: -5px;
    margin-right: 10px;
}

#name_email {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 40px;

}

#your_name,
#your_email {

    width: 100%;

}


#your_name input,
#your_email input {
    height: 70px;
    width: 85%;
    border-radius: 50px;
    background-color: rgba(38, 46, 52, 0.12);
}


#message textarea {
    width: 98%;
    height: 300px;
    border-radius: 50px;
    background-color: rgba(38, 46, 52, 0.12);
}

label {
    font-size: 14px;
    color: #89BCD9;
    font-family: 'Josefin Sans';
    margin-left: 50px;
    margin-bottom: 50px;
}

#checkbox {
    margin-top: 30px;
    width: 25px;
    height: 25px;
    background-image: url('/img/Check box.png');
    background-repeat: no-repeat;
    appearance: none;
    outline: none;
    cursor: pointer;

}

#checkbox:checked {
    background-image: url('/img/Check box (1).png');
    outline: none;
}

#input-felds {
    margin: 0;
}


#input-felds input:focus {
    background-color: #323F48;
    border-radius: 50px;
}

textarea:focus {
    background-color: #323F48;

}

#send_datas {
    background-color: #262E34;

}

input {
    font-size: 16px;
    padding: 0 30px;
    outline: none;
    color: #F8F5EC;
    font-family: 'Josefin Sans';

}

#send_button {
    display: flex;
    justify-content: end;

}

#arrow_up {
    display: flex;
    margin-left: 80%;
    margin-top: -800px;

}