<section id="contakt_me">
    <h3>Contakt me</h3>
    <div id="above_cont">
        <div id="contact_info">
            <p> Encourage people to contact you and describe what role you are interested in.
                Show that you will add value to their projects through your work.
                Example: Feel free to get in touch with job offers or opportunities such as: ...</p>
        </div>
        <div id="info">
            <div id="email">
                <img src="/img/icon _email_.png" alt="E-mail">
                <a href="#">
                    <p> "E-mail: {{email}}</p>
                </a>
            </div>

            <div id="phone">
                <img src="/img/icon _phone.png" alt="Phone">
                <a href="#phone">
                    <p> Tel: 0172 829 29 86</p>
                </a>
            </div>
        </div>
    </div>




    <div id="input-felds">
        <form>
            <div id="name_email">
                <div id="your_name">
                    <label for="fname">Your Name</label><br>
                    <input type="text" id="fname" name="fname" maxlength="30">
                </div>

                <div id="your_email">
                    <label for="email">Your Email</label><br>
                    <input type="email" id="email" name="email" maxlength="30">
                </div>
            </div>

            <div id="message">
                <label for="message">Your Message</label><br>
                <textarea name="message" id="message" placeholder="write something..."></textarea>

            </div>

            <label>
                <input type="checkbox" id="checkbox">
                I've read the privacy police and agree to the processing of my data as outlined.</label> <br>
            <div id="send_button">
                <input type="image" src="/img/Button Secondary Web (1).png" id="send_datas">
            </div>
        </form>
    </div>


    <a href=""><img src="img/Arrow up.png" alt="" width="38px" height="89px" id="arrow_up"> </a>

</section>