<app-nav></app-nav>
<section id="datenschutz">
    <h1> {{'PRIVACY_POLICY.TITLE' | translate}}</h1>

    <h2>{{'PRIVACY_POLICY.TITLE1' | translate}}</h2>


    <p>Magda Danielyan </p>
    <p>Am Silberberg 17 </p>
    <p>32839 Steinheim </p>


    <h2>{{'PRIVACY_POLICY.TITLE1.1' | translate}}</h2>


    <p> <a href="tel:+4917282929286">{{'PRIVACY_POLICY.TEXT' | translate}} +49(0)1728292986 </a> </p>
    <p> <a href="mailto:mdanielyan50@gmail.com"> E-Mail: mdanielyan50gmail.com </a> </p>


    <h2>2. {{'PRIVACY_POLICY.TITLE2' | translate}} </h2>


    <p> {{'PRIVACY_POLICY.TEXT2' | translate}}</p>


    <h2>3.{{'PRIVACY_POLICY.TITLE3' | translate}} </h2>

    <p>{{'PRIVACY_POLICY.TEXT3' | translate}} </p>


    <h2>4.{{'PRIVACY_POLICY.TITLE4' | translate}} </h2>

    <p>{{'PRIVACY_POLICY.TEXT4' | translate}} </p>


    <h2>{{'PRIVACY_POLICY.TITLE4.1' | translate}} </h2>

    <p>{{'PRIVACY_POLICY.TEXT4.1' | translate}}</p>


    <h2> 5.{{'PRIVACY_POLICY.TITLE5' | translate}}</h2>

    <p> {{'PRIVACY_POLICY.TEXT5' | translate}} </p>


    <h2>6.{{'PRIVACY_POLICY.TITLE6' | translate}} </h2>

    <p>{{'PRIVACY_POLICY.TEXT6' | translate}} </p>


    <h2>7.{{'PRIVACY_POLICY.TITLE7' | translate}} </h2>

    <p> {{'PRIVACY_POLICY.TEXT7' | translate}}
    </p>

    <h2>8. {{'PRIVACY_POLICY.TITLE8' | translate}} </h2>

    <p> {{'PRIVACY_POLICY.TEXT8' | translate}} </p>


    <h2>{{'PRIVACY_POLICY.TITLE9' | translate}} </h2>


    <p>{{'PRIVACY_POLICY.TEXT9' | translate}} </p>


    <h2> {{'PRIVACY_POLICY.TITLE10' | translate}} </h2>


    <p> {{'PRIVACY_POLICY.TEXT10' | translate}}</p>

    <p> <a href="https://ec.europa.eu/consumers/odr/" target="_blank"> https://ec.europa.eu/consumers/odr/</a></p>

</section>