<section id="menu_bar">
    <div id="logo_menu">
        <a href="/"> <img src="img/logoMD.png" alt=""> </a>
    </div>

    <div class="menu_system" id="menu_hide">
        <a href="/#why-me">
            <p>{{'NAV.NAV_WHY_ME' | translate}}</p>
        </a>
        <a href="/#my-skills">
            <p>{{'NAV.NAV_SKILLS' | translate}}</p>
        </a>
        <a href="/#my-projects">
            <p>{{'NAV.NAV_PROJECTS' | translate}} </p>
        </a>
        <a href="/#contact">
            <p>{{'NAV.NAV_CONTACT' | translate}}</p>
        </a>
    </div>



    <div id="change_language">
        <button (click)="useLanguage('en')" [ngClass]="{ 'active-lang': selectedLang === 'en' }">EN</button>
        <button (click)="useLanguage('de')" [ngClass]="{ 'active-lang': selectedLang === 'de' }">DE</button>
    </div>



</section>