<section id="why_me">
    <div id="why_me_container">
        <h3>Why me</h3>

        <div id="left">
            <div id="location">
                <img id="above" src="/img/icon.png" alt="">
                <img id="under" src="/img/Ellipse 20.png" alt="">
            </div>
            <p><span id="I_am">I am </span> Located in Steinheim.. | </p>
        </div>

        <div id="right">
            <p>Hardworking. Motivated. Always learning.
                As a junior developer, I bring fresh energy and a strong work ethic to every project.
                I don’t just code — I care about the result.
            </p>

        </div>
        <img src="/img/Button Secondary Web.png" alt="">

    </div>

</section>