#why_me{
position: absolute;
margin-left:400px;
margin-top: 80px;
width:860px;
height:307px;


}

#why_me_container {
    display:flex;

gap:50px;
flex-direction:row;
}



#left{
display:flex;
justify-content: center;
align-items:center;
width:60%;
flex-direction:row;
}

#I_am{ padding: 0 5px; 
 }

#left p{
    font-family: 'Josefin Sans';
font-size: 30px;
color:#F8F5EC;
display: flex;
align-items: center;
}

#I_am{
color: #89BCD9;
}

#location{
    position: absolute;
    margin-right: 480px;
}



#move_text{ 
    max-width: 458px;
}

#right{
display:flex;
flex-direction:column;
font-size:18px;
width: 40%;
font-family:'Josefin Sans Regular';
font-weight: 400;
}

#right p{
    color:#F8F5EC;
    padding-top: 50px;

    font-family:'Josefin Sans' ;
}

#right img:hover{
background-image:url('/img/Property 1=hover (3).png');
}

#button_wrapper{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}