#why_me{
display:flex;
margin-left:15%;
width:860px;
height:307px;
border: 2px solid red;}

#why_me_container {
gap:50px;
flex-direction:row;
}

#why_me_container h3{
font-family:'Anta regular';
display:flex;
justify-content: center;
font-size:60px;
weight:400;
color: #89BCD9;

}

#left{
display:flex;
justify-content: center;
align-items:center;
width:50%;
flex-direction:row;
border: 2px solid green;
}

#above{
width:74.43px;
height:63.28px;
border: 2px solid blue;

}

#under{
width: 19px;
height:7px;
margin-left:25px;
margin-top:-350px;
border: 2px solid red;

}

#left p{
font-size: 30px;
color:#F8F5EC;
}
#I_am{
color: #89BCD9;
}


#right{
display:flex;
flex-direction:row;
justify-content: center;
font-size:18px;
font-family:'Josefin Sans Regular';
weight: 400;
border:2px solid yellow;
}
#right img:hover{
background-image:url('/img/Property 1=hover (3).png');
}