#my_skills {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 556px;
  margin-top: 100px;


  #my_Skills_content {
    display: flex;
    gap: 80px;

  }

  #left_mySkills {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    flex-wrap: calc(25%);
    flex-direction: row;
    gap: 55px;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 30px;
  }



  #left_mySkills img {
    margin-left: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  #left_mySkills img:hover {
    box-shadow: 0 8px 15px rgba(93, 190, 207, 0.2);
    transform: scale(1.1);
    cursor: pointer;
  }

  #right_mySkills {
    width: 50%;
    margin-top: 40px;
    display: flex;

  }

  #right_mySkills img {

    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 0.5s ease-in;
  }

  #right_mySkills img:hover {
    background-image: url('/img/Ellipse 02.png');
    background-repeat: no-repeat;
    rotate: (45deg);
    cursor: pointer;
  }

  #right_mySkills p {
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: #FFFDFD;
  }

  #text_skills {
    text-align: justify;
    margin-top: 100px;
    margin-left: 30px;
    width: 310px;
    height: 200px;
  }
}