<section id="my_skills">
    <h3>{{'MY_SKILLS.TITLE' | translate}} </h3>
    <div id="my_Skills_content">
        <div id="left_mySkills">

            <img src="img/skills_img/Skill Icon + Name.png" alt="Angular">
            <img src="img/skills_img/Skill Icon + Name (1).png" alt="TypeScript">
            <img src="img/skills_img/Skill Icon + Name (2).png" alt="JavaScript">
            <img src="img/skills_img/Skill Icon + Name (3).png" alt="HTML">
            <img src="img/skills_img/Skill Icon + Name (4).png" alt="CSS">
            <img src="img/skills_img/Skill Icon + Name (5).png" alt="Rest-API">
            <img src="img/skills_img/Skill Icon + Name (6).png" alt="Firebase">
            <img src="img/skills_img/Skill Icon + Name (7).png" alt="GIT">
            <img src="img/skills_img/Skill Icon + Name (8).png" alt="Material Design">
            <img src="img/skills_img/Skill Icon + Name (9).png" alt="Scrum">
        </div>
        <div id="right_mySkills">

            <img src="img/Ellipse 02.png" alt="Ellipse" id="ellipse">
            <div id="text_skills">
                <p>{{'MY_SKILLS.PARAG1' | translate}} </p>
                <div id="curr_learn">
                    <img src="img/react.png" alt="React">
                    <img src="img/vue.png" alt="Vue JS">
                </div>

                <p> {{'MY_SKILLS.PARAG2' | translate}} </p>
            </div>
        </div>

        <!--mobile-->
        <div id="right-mySkills-mobile" style="display: none;">
            <p id="my_skills_mobile">{{'MY_SKILLS.PARAG1' | translate}} </p>
            <div id="right-mySkills-mobile-content">
                <div id="text-left">
                    <p> {{'MY_SKILLS.PARAG2' | translate}} </p>
                </div>

                <div id="img-left">
                    <img src="img/Ellipse 02.png" alt="Ellipse" id="ellipse-mobile">
                    <div id="curr_learn_mobile">
                        <img src="img/react.png" alt="React">
                        <img src="img/vue.png" alt="Vue JS">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>