@use './../../../styles.scss' as *;

#my_skills {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 3rem;
  padding-bottom: 60px;



  >#my_Skills_content {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
    flex-wrap: wrap;

    >#left_mySkills {
      display: flex;
      max-width: 35%;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 50px;
      justify-content: center;
      margin-top: 30px;


    }


    >#left_mySkills img {
      margin-left: 20px;
      transition: box-shadow 0.3s ease, transform 0.3s ease;

    }

  }

  #left_mySkills img:hover {
    box-shadow: 0 8px 15px rgba(93, 190, 207, 0.2);
    transform: scale(1.1);
    cursor: pointer;
  }

  #right_mySkills {
    width: 35%;
    margin-top: 30px;
    display: flex;
    justify-content: center;


  }

  #ellipse {
    position: absolute;
    overflow: hidden;
    transition: all 0.5s ease-in;
  }

  #ellipse:hover {
    background-image: url('/img/Ellipse 02.png');
    background-repeat: no-repeat;
    rotate: (45deg);
    cursor: pointer;
  }

  #right_mySkills p {
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: #FFFDFD;
    margin-top: 40px;
    text-align: center;
    padding: 0 5px;
  }

  #text_skills {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: -10px;
    margin-left: -5px;
    width: 310px;
    height: 400px;

  }

  #text_skills>p {
    margin-bottom: 10px;
  }



  #curr_learn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    margin-bottom: -30px;
  }

  #curr_learn img {
    max-width: 40px;
    height: auto;
  }



}

@media (max-width:1340px) {

  #my_skills {




    #my_Skills_content {

      #left_mySkills {
        width: 100%;
        max-width: 1200px;
        padding: 0 10%;
        flex-wrap: wrap;
        gap: 70px;



        img {
          width: 70px;
          height: auto;
        }
      }
    }
  }
}

@media (max-width:1260px) {
  #my_skills {
    margin: 0;



    #my_Skills_content {
      flex-direction: column;

      #left_mySkills {
        width: 100%;
        max-width: 1200px;
        padding: 0 10%;
        flex-wrap: wrap;
        gap: 100px;



        img {
          width: 50px;
          height: auto;
        }
      }

      #right_mySkills {
        justify-content: center;
        flex-direction: row;
        width: 100%;
      }

    }

  }


  @media (max-width:1145px) {

    #my_skills {



      #my_Skills_content {

        #right_mySkills {
          display: none;
        }

        #right-mySkills-mobile {
          display: flex !important;
          flex-direction: row !important;
          width: 100%;
          justify-content: start;
          margin-top: 40px;
          margin: 0 auto;
          border: 1px solid red;


          #right-mySkills-mobile p {
            text-align: center !important;
            width: 100%;
            height: 10%;
            margin: 0 auto;
          }

          #text-left {
            display: flex;
            width: 45%;
            height: 50%;
            border: 1px solid blue;
            margin-top: 40px;

          }

          #img-left {
            width: 45%;
            display: flex;
            height: 50%;
            margin-top: 40px;

            border: 2px solid rgb(93, 24, 58);

          }
        }
      }
    }
  }
}