<section id="my_skills">
    <h3>My Skills</h3>
    <div id="my_Skills_content">
        <div id="left_mySkills">

            <img src="/img/skills_img/Skill Icon + Name.png" alt="Angular">
            <img src="/img/skills_img/Skill Icon + Name (1).png" alt="TypeScript">
            <img src="/img/skills_img/Skill Icon + Name (2).png" alt="JavaScript">
            <img src="/img/skills_img/Skill Icon + Name (3).png" alt="HTML">
            <img src="/img/skills_img/Skill Icon + Name (4).png" alt="CSS">
            <img src="/img/skills_img/Skill Icon + Name (5).png" alt="Rest-API">
            <img src="/img/skills_img/Skill Icon + Name (6).png" alt="Firebase">
            <img src="/img/skills_img/Skill Icon + Name (7).png" alt="GIT">
            <img src="/img/skills_img/Skill Icon + Name (8).png" alt="Material Design">
            <img src="/img/skills_img/Skill Icon + Name (9).png" alt="Scrum">
        </div>
        <div id="right_mySkills">

            <img src="/img/Ellipse 25.png" alt="Ellipse">
            <p>I am currently learning</p>

            <p> I strive to continuously develop as a professional by mastering new technologies
                and tools that enable me to create more efficient and modern solutions. I am interested
                in implementing innovative
                approaches in my work, seeking unconventional solutions, and sharing knowledge with the team.</p>
        </div>
    </div>
</section>