#menu_bar {
 display: flex;
 justify-content: start;
 align-items: center;
 height: 104px;  
 background-color:#89BCD9; 
 z-index: 99999;

 >#logo_menu img{
    width:100px;
    height: 100px;

    margin-left: 100px;
}

>#menu_system{
display: flex;
flex-direction: row; 
margin-left: 150px;
gap:192px;
}


#change_language{
    display: flex;
     margin-left: 180px;
     font-size: 18px;
     align-items: center;
}

p{
    font-weight: 500;
    font-size:26px;
    color: #262E34;
    font-family: 'Josefin Sans regular';
    
}
p:hover{
    color:#F8F5EC;
    cursor: pointer;
    transition: 75ms ease-out;
}
}