<div id="project_container">

    <div id="left_container">

        <div id="left_cont_caption">
            <img src="{{project.img1}}" alt="">
            <p>{{project.par1}} <span id="duration">{{ project.description1 }}</span></p>
        </div>
        <p>{{ project.text1}}</p>

        <div id="left_cont_caption2">
            <img src="{{project.img1}}" alt="">
            <p>{{project.par2}}</p>
        </div>
        <p> {{project.description2}}</p>


        <div id="left_cont_caption3">
            <img src="{{project.img1}}" alt="">
            <p>{{project.par3}}</p>
        </div>
        <p> {{project.description3}}</p>
    </div>


    <div id="right_container">
        <p>{{project.right_paar}} </p>
        <div id="technologie_img">
            <img src="img/skills_img/Skill Icon + Name (2).png" alt="Javascript">
            <img src="img/skills_img/Skill Icon + Name (3).png" alt="HTML">
            <img src="img/skills_img/Skill Icon + Name (4).png" alt="CSS">

        </div>
        <img src="{{project.right_project_pic}}" alt="" id="pokedex_img">

        <div id="project_buttons">
            <a href="#LiveTest "> <img src="{{project.live_test}}" alt=""> </a>
            <a href="#GitHub"><img src=" {{project.gitHub}}" alt=""> </a>
        </div>

    </div>


</div>