<div id="project_container">

    <div id="left_container">

        <div id="left_cont_caption">
            <img src="/img/Ellipse 8.png" alt="">
            <p>About the project <span id="duration"> Duration: 2 Weeks</span></p>
        </div>
        <p> This App is a Slack Clone App.
            It revolutionizes team communication and collaboration with its intuitive interface,
            real-time messaging, and robust channel organization.</p>

        <div id="left_cont_caption2">
            <img src="/img/Ellipse 8.png" alt="">
            <p>How I have organised my work process</p>
        </div>
        <p> How do you keep your code clean and maintainable? Have you broken the project
            down into reusable modules or components?
            Focus on documentation, naming files, variables, classes and testing.</p>


        <div id="left_cont_caption3">
            <img src="/img/Ellipse 8.png" alt="">
            <p>My group work experience</p>
        </div>
        <p> How many people were in the team and what was your role? Describe your
            tasks in 1-2 sentences, for example: login form, dashboard or chat functionality.
            What technologies did you use?
            It is nice to mention good teamwork and cooperation.</p>

    </div>


    <div id="right_container">
        <p> Technologies </p>
        <div id="technologie_img">
            <img src="/img/skills_img/Skill Icon + Name (2).png" alt="Javascript">
            <img src="/img/skills_img/Skill Icon + Name (3).png" alt="HTML">
            <img src="/img/skills_img/Skill Icon + Name (4).png" alt="CSS">

        </div>
        <img src="/img/pokedex.png" alt="" id="pokedex_img">

        <div id="project_buttons">
            <a href="#LiveTest "> <img src="/img/skills_img/Button Primary Web.svg" alt=""> </a>
            <a href="#GitHub"><img src="/img/skills_img/Button Secondary Web (1).svg" alt=""> </a>
        </div>

    </div>


</div>