<div class="impressum-content">
    <h2>Impressum</h2>
    <p><strong> Name des Verantwortlichen :</strong> <br> Magda Danielyan</p>
    <p> <strong>Anschrift:</strong> 32839 Steinheim <br>Deutschland</p>
    <p><strong>Kontakt:</strong><br>
        E-Mail: mdanielyan50gmail.com</p>
    <div id="pic"><img src="img/favicon/mariachi.png" alt="Mariachi" width="200px" height="200px"></div>
    <p class="copyright">Alle Rechte vorbehalten © 2025 </p>
    <button id="closeImpressumBtn">&times;</button>
</div>