<app-nav></app-nav>
<section id="imprint">
    <div class="impressum-content">
        <h2>Impressum</h2>
        <p><strong>Name des Verantwortlichen:</strong><br> Magda Danielyan </p>
        <p><strong>Anschrift:</strong><br>32839 Steinheim <br>Deutschland</p>
        <p><strong> Kontakt: </strong><a href="tel:+4917282929286">+49(0)172 8292986</a><br>
            <strong>E-Mail: </strong> <a href="mailto:mdanielyan50@gmail.com">{{email}}</a>
        </p>
        <p class="copyright">Alle Rechte vorbehalten © 2025</p>

    </div>
</section>