<app-nav></app-nav>
<section id="imprint">
    <div class="impressum-content">
        <h2>{{'IMPRINT.TITLE' | translate}}</h2>
        <p><strong>{{'IMPRINT.TEXT1' | translate}}</strong><br> Magda Danielyan </p>
        <p><strong>{{'IMPRINT.TEXT2' | translate}}</strong><br>32839 Steinheim <br>{{'IMPRINT.TEXT3' | translate}}</p>
        <p><strong> {{'IMPRINT.TEXT4' | translate}} </strong><a href="tel:+4917282929286">+49(0)172 8292986</a><br>
            <strong>E-Mail: </strong> <a href="mailto:mdanielyan50@gmail.com">{{email}}</a>
        </p>
        <p class="copyright">{{'IMPRINT.TEXT5' | translate}} © 2025</p>

    </div>
</section>