@use './../../../styles.scss' as *;

#team_opinion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1920px;
    width: 100%;
    padding: 0 2rem;
    height: 550px;
    overflow-y: hidden !important;

    p,
    h6 {
        font-family: 'Josefin Sans';
        font-size: 16px;
        font-weight: 200;
        margin: 0 auto;

    }

    .proj-name {
        color: $primary-blue;
        font-weight: 400;
        font-size: 18px;
    }

    h5 {
        font-family: 'Josefin Sans';
        font-size: 20px;
        font-weight: 300;
        margin: 0 auto;

    }


    .proj-color {
        color: $primary-blue;
    }

    >h4 {
        font-size: 42px;
        color: $primary-blue;
        font-family: 'Josefin Sans';
        font-weight: 400;
        margin-left: 20%;
    }

    #opinion_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
        overflow-y: hidden;
        width: 100%;
        height: auto;
        scrollbar-width: thin;
        height: 540px;
        padding: 10px;

        .opinion-card {
            .img-container {

                .ellipse-opinion {
                    display: block;
                    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);



                }

                .ellipse-opinion:hover {
                    background-image: url('/img/Ellipse 02.png');
                    background-repeat: no-repeat;
                    transform: rotate(45deg);
                }
            }


            a {
                text-decoration: underline;
                color: $primary-blue;
                font-size: 16px;
                transform: translate(10%, -10%);
                display: flex;
                font-family: 'Josefin Sans';
                margin-left: 100px;
                padding-top: 60px;
                font-weight: 400;
            }

            .opinion-text {
                display: flex;
                transform: translate(10%, -125%);
                justify-content: center;
                align-items: start;
                flex-direction: column;
                width: 314px;
                height: 250px;
                text-align: center;
                font-size: 16px;
                color: #F8F5EC;
                pointer-events: none;
                line-height: 1.2;


                a {
                    pointer-events: auto;
                    margin-top: 10px;
                    transform: translateX(-15px);
                }
            }
        }
    }

}

@media (max-width:1400px) {

    #team_opinion {


        >h4 {
            font-size: 40px;
            margin-left: 5%;
        }

        #opinion_container {
            gap: 100px;

            .opinion-card {
                .img-container {
                    height: 60%;

                }
            }
        }

    }

}

@media (max-width:760px) {

    #team_opinion {
        >h4 {
            font-size: 36px;
        }

        #opinion_container {

            .opinion-card {
                width: 80%;

                .img-container {
                    height: auto;

                    .opinion-text {
                        a {

                            padding-top: 40px;
                        }
                    }
                }

            }
        }

    }
}

@media (max-width:690px) {

    #team_opinion {
        #opinion_container {

            .opinion-card {
                .img-container {
                    width: 70%;
                    height: auto;

                    .opinion-text {
                        font-size: 16px;
                        padding-left: 40px;

                        a {
                            font-size: 16px;
                            padding-top: 20px;
                            margin-left: 50px;
                        }
                    }

                }

            }
        }
    }
}

@media (max-width:660px) {

    #team_opinion {
        >h4 {
            font-size: 32px;
            margin-left: 2%;

        }

        #opinion_container {
            gap: 120px;

            .opinion-card {

                .img-container {
                    height: auto;



                    .opinion-text {
                        font-size: 16px;
                        padding-left: 40px;

                        a {
                            font-size: 16px;
                            padding-top: 5px;
                            margin-left: 50px;
                        }
                    }
                }

            }
        }

    }
}

@media (max-width:600px) {

    #team_opinion {

        >h4 {
            font-size: 32px;

        }

        #opinion_container {

            .opinion-card {

                .img-container {
                    height: auto;

                    .ellipse-opinion {
                        margin-top: -5px;

                    }

                    .opinion-text {
                        font-size: 16px;
                        padding-left: 40px;

                        a {
                            font-size: 16px;
                            padding-top: 5px;
                            margin-left: 50px;
                        }
                    }
                }

            }
        }

    }
}

@media (max-width:440px) {

    #team_opinion {

        >h4 {
            font-size: 28px;

        }

        #opinion_container {
            gap: 150px;

            .opinion-card {
                gap: 200px;

                .img-container {
                    height: auto;
                    width: 70%;

                    .ellipse-opinion {
                        margin-top: -5px;


                    }

                    .opinion-text {
                        font-size: 16px;
                        padding-left: 40px;

                        a {
                            font-size: 16px;
                            padding-top: 5px;
                            margin-left: 50px;
                        }
                    }
                }

            }
        }

    }
}


@media (max-width:440px) {

    #team_opinion {
        padding: 0 0.5rem;

        >h4 {
            font-size: 24px;
        }

        #opinion_container {
            gap: 200px;

            .opinion-card {
                gap: 200px;

                .img-container {
                    height: auto;
                    width: 70%;

                    .ellipse-opinion {
                        margin-top: -5px;


                    }

                    .opinion-text {
                        font-size: 16px;
                        padding-left: 40px;

                        a {
                            font-size: 16px;
                            padding-top: 5px;
                            margin-left: 50px;
                        }
                    }
                }

            }
        }

    }
}