@use './../../../styles.scss' as *;

#team_opinion{
    display:flex;
    justify-content: center;
    flex-direction: column;
    max-width: 2400px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 100px;


h4{
font-size:32px ;
color: $primary-blue;
font-family: 'Josefin Sans';
font-weight: 400;
justify-content: center;
margin-left: 300px;


}

#opinion_container{
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 50px;
    max-width:  1500px;
    margin-left: 30px;
    gap: 50px;


    
}
#text_container img { 
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;

}

 #img:hover {
    background-image:url('/img/Ellipse 02.png') ;
    background-repeat: no-repeat;
    cursor: pointer;
    rotate: (45deg);
    
} 

.text_container p{
display: flex;
justify-content: center;
text-align: center;
margin-top: -320px;
width: 300px;
margin-left: 50px;
font-size: 26px;
color: #F8F5EC;
}
.text_container +p {
    margin-bottom: 10px;


}
.text_container a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 16px;
    color: #89bcd9;
}


}