<section id="team_opinion">

    <h4>{{'TEAMPLAYER.TITLE' | translate}} </h4>

    <div id="opinion_container">

        <div class="opinion-card">
            <div class="img-container">
                <img src="img/Ellipse 02.png" alt="Ellipse">
                <p class="opinion-text">
                    {{'TEAMPLAYER.PERSON1' | translate}} <br>
                    Project {{'TEAMPLAYER.PROJECT1' | translate}} <br>
                    ‘’{{'TEAMPLAYER.OPINION_TEXT1' | translate}}’’ <br>
                </p>
            </div>
            <a href="#">Linked In Profile</a>
        </div>


        <div class="opinion-card">
            <div class="img-container">
                <img src="img/Ellipse 02.png" alt="Ellipse">
                <p class="opinion-text">
                    {{'TEAMPLAYER.PERSON2' | translate}} <br>
                    Project {{'TEAMPLAYER.PROJECT2' | translate}} <br>
                    ‘’{{'TEAMPLAYER.OPINION_TEXT2' | translate}}’’ <br>
                </p>
            </div>
            <a href="#">Linked In Profile</a>
        </div>

        <div class="opinion-card">
            <div class="img-container">
                <img src="img/Ellipse 02.png" alt="Ellipse">
                <p class="opinion-text">
                    {{'TEAMPLAYER.PERSON3' | translate}} <br>
                    Project {{'TEAMPLAYER.PROJECT3' | translate}} <br>
                    ‘’{{'TEAMPLAYER.OPINION_TEXT3' | translate}}’’ <br>
                </p>
            </div>
            <a href="#">Linked In Profile</a>
        </div>

    </div>

</section>