<section id="team_opinion">

    <h4>Need a teamplayer? Here what my colleagues said about me</h4>


    <div id="opinion_container">

        <div class="text_container">
            <div id="img"> <img src="/img/Ellipse 02.png" alt=""> </div>
            <div>
                <p>Sarah Mueller1 <br> Project DA Bublle <br>
                    ‘’Claudia had to develop, format and deliver content in collaboration
                    with the team members. She is a reliable and friendly person.’’ <br>

                </p>
                <a href="#"> Linked In Profile</a>
            </div>
        </div>


        <div class="text_container">
            <div id="img"> <img src="/img/Ellipse 02.png" alt=""> </div>
            <div>
                <p>Sarah Mueller2 <br> Project DA Bublle <br>
                    ‘’Claudia had to develop, format and deliver content in collaboration
                    with the team members. She is a reliable and friendly person.’’ <br>

                </p>
                <a href="#"> Linked In Profile</a>
            </div>
        </div>


        <div class="text_container">
            <div id="img"> <img src="/img/Ellipse 02.png" alt=""> </div>
            <div>
                <p>Sarah Mueller3 <br> Project DA Bublle <br>
                    ‘’Claudia had to develop, format and deliver content in collaboration
                    with the team members. She is a reliable and friendly person.’’ <br>

                </p>
                <a href="#"> Linked In Profile</a>
            </div>
        </div>


    </div>



</section>