<section id="team_opinion">

    <h4>{{'TEAMPLAYER.TITLE' | translate}} </h4>

    <div id="opinion_container">

        <div class="opinion-card">
            <div class="img-container">
                <img src="img/Ellipse 02.png" alt="Ellipse">
                <div class="opinion-text">
                    <h5> {{'TEAMPLAYER.PERSON1' | translate}} </h5>
                    <h6> Project
                        <span class="proj-name"> {{'TEAMPLAYER.PROJECT1' | translate}} </span>
                    </h6>
                    <p> ‘’{{'TEAMPLAYER.OPINION_TEXT1' | translate}}’’ </p>
                    <a href="https://gaetano-leanza.de/" target="_blank">Linked In Profile</a>

                </div>
            </div>
        </div>


        <div class="opinion-card">
            <div class="img-container">
                <img src="img/Ellipse 02.png" alt="Ellipse">
                <div class="opinion-text">
                    <h5> {{'TEAMPLAYER.PERSON2' | translate}} </h5>
                    <h6> Project
                        <span class="proj-name"> {{'TEAMPLAYER.PROJECT2' | translate}} </span>
                        <p> ‘’{{'TEAMPLAYER.OPINION_TEXT2' | translate}}’’ </p>
                    </h6>
                    <a href="https://stephan-wacker.de/" target="_blank">Linked In Profile</a>

                </div>
            </div>
        </div>

        <div class="opinion-card">
            <div class="img-container">
                <img src="img/Ellipse 02.png" alt="Ellipse">
                <div class="opinion-text">
                    <h5> {{'TEAMPLAYER.PERSON3' | translate}} </h5>
                    <h6> Project
                        <span class="proj-name"> {{'TEAMPLAYER.PROJECT3' | translate}} </span>
                        <p> ‘’{{'TEAMPLAYER.OPINION_TEXT3' | translate}}’’</p>

                    </h6>
                    <a href="#">Linked In Profile</a>
                </div>
            </div>

        </div>

    </div>

</section>