@use './../../../styles.scss' as *;

@media (max-width:1480px) {

    #hero {
        #right-container {
            #name {
                h1 {
                    font-size: 5rem;
                }

                h2 {
                    font-size: 2.3rem;
                }
            }

            #socmedia {
                margin-left: 36rem;
            }
        }
    }

}

@media (max-width:1360px) {

    #hero {
        #right-container {
            #name {
                h1 {
                    font-size: 4.375rem;
                }

                h2 {
                    font-size: 2rem;
                }
            }

            #socmedia {
                margin-left: 31.5rem;
            }

            #arrow {
                margin-top: 7rem;
            }
        }
    }

}

@media (max-width:1265px) {

    #hero {
        #right-container {

            #name {
                h1 {
                    font-size: 60px;
                }

                h2 {
                    font-size: 1.8rem;
                }
            }

            #socmedia {
                margin-left: 26rem;
            }

            #arrow {
                margin-top: 6rem;
            }
        }
    }

}

@media (max-width:1145px) {


    #hero {
        width: 95%;
        height: 100vh;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem;
        gap: 0;

        #logo-mobile {
            position: absolute;
            top: -10px;
            left: 10px;
            width: 120px;
            height: auto;
        }

        #left-container {
            display: none !important;
        }

        #right-container {

            display: none !important;
        }

        #mobile-content {
            display: block !important;
            position: absolute;
            width: 95%;
            height: 600px;
            top: 10px;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            display: flex;
            margin: 0 auto;


            .burger_menu_system {
                position: absolute;
                left: 50%;
                top: 100px;
                transform: translateX(-45%);
                width: 80%;
                max-width: 500px;
                min-width: 300px;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-repeat: no-repeat;
                background-image: url("../../../../public/img/Property 1=Default.png");
                background-size: contain;
                z-index: 10;

            }

            #burger_nav {
                position: static;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 25px;
                transform: translateY(5%);
                width: 100%;
                max-width: 400px;
                min-width: 300px;
                top: 12%;
                left: unset;
                margin: 0 auto;
                gap: 40px;
            }


            .hamburger {
                display: block !important;
            }

            #me_respons {
                display: block;
                position: absolute;
                left: 60%;
                top: 360px;
                width: 80%;
                max-width: 500px;
                min-width: 320px;
                height: auto;
                transform: translate(-50%, -50%);

                img {
                    width: 70%;
                    height: auto;
                }
            }

            #name-mobile {
                position: static;
                display: flex;
                flex-direction: column;
                width: 95%;
                height: 300px;
                margin: 0 auto;
                gap: 20px;
                justify-content: center;
                align-items: center;
                margin-top: 620px;

                h2 {
                    font-size: 4.5rem;
                    color: $creme-white;
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 300;
                    text-align: center;
                }

                h3 {
                    font-size: 2.5rem;
                    color: $creme-white;
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 300;
                    text-align: center;

                }

                #arrow-mobile {
                    width: 50px;
                    height: auto;
                    transform: translateY(30%);
                }
            }

        }
    }

    #app-nav {
        display: none;
    }

}

@media (max-width:1000px) {
    #hero {
        padding: 0 auto;
    }
}

@media (max-width:750px) {
    #hero {

        padding: 0 auto;
    }
}

@media (max-width:700px) {
    #hero {


        #mobile-content {
            #name-mobile {

                h2 {
                    font-size: 4rem;
                }

                h3 {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media (max-width:620px) {
    #hero {

        #mobile-content {
            #name-mobile {

                margin-top: 580px;

                h2 {
                    font-size: 3.5rem;
                }

                h3 {
                    font-size: 1.5rem;
                }
            }

            .burger_menu_system {
                top: 120px;

            }
        }
    }
}

@media (max-width:580px) {
    #hero {
        #mobile-content {
            #name-mobile {
                h2 {
                    font-size: 3rem;
                }
            }

            .burger_menu_system {
                top: 140px;

                #burger_nav {
                    gap: 30px;
                    transform: translateY(-15%);
                }
            }
        }
    }
}

@media (max-width:500px) {
    #hero {

        #mobile-content {
            .burger_menu_system {
                top: 170px;

                #burger_nav {
                    gap: 30px;
                    transform: translateY(-15%);
                }
            }
        }
    }
}

@media (max-width:490px) {
    #hero {

        #mobile-content {
            #name-mobile {
                h2 {
                    font-size: 2.5rem;
                }

                h3 {
                    font-size: 1.3rem;
                }
            }

            .burger_menu_system {

                #burger_nav {
                    gap: 25px;
                    font-size: 1.2rem;
                    transform: translateY(-15%);
                }
            }
        }
    }
}

@media (max-width:475px) {
    #hero {
        padding-left: 15px;
        margin: 0;

        #mobile-content {

            .burger_menu_system {
                top: 180px;
                transform: translateX(-50%);

                #burger_nav {
                    gap: 15px;
                    transform: translateY(-35%);
                }
            }
        }
    }
}

@media (max-width:425px) {
    #hero {
        #mobile-content {

            .burger_menu_system {
                top: 190px;
                transform: translateX(-50%);

                #burger_nav {
                    gap: 15px;
                    transform: translateY(-35%);
                }
            }
        }
    }
}

@media (max-width:350px) {
    #hero {

        #mobile-content {

            .burger_menu_system {

                #burger_nav {
                    gap: 15px;
                    transform: translateY(-30%);
                    max-width: 250px;

                }
            }
        }
    }
}