@use './../../../styles.scss' as *;

#hero {
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    width: 100%;
    height: calc(100vh - 104px);
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 3rem;
    gap: 30px;

    #left-container {
        width: 48%;
        height: calc(100vh - 104px);
        position: relative;
        display: flex;
        justify-content: center;


        #bg-shape {
            position: absolute;
            height: 550px;
            left: 50px;
            max-width: 600px;
            width: 100%;
            bottom: -40px;
            background-image: url("./../../../../public/img/shape.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-image: url("./../../../../public/img/Property\ 1=hover.svg");
                transition: all 0.5s ease-in-out;
            }

        }

        #me {
            position: absolute;
            margin: 0 auto;
            pointer-events: none;
            left: 120px;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #me img {
            object-fit: cover;
            width: 100%;
            max-width: 600px;
            min-width: 350px;
            height: 550px;
        }

        #me_respons {
            display: none;
        }
    }

    #right-container {
        width: 52%;
        height: calc(100vh - 104px);
        position: relative;
        display: flex;
        justify-content: center;

        #socmedia {
            position: absolute;
            display: flex;
            flex-direction: column;
            margin-left: 38rem;
            bottom: 34rem;
            gap: 15px;
            z-index: 999;
            transition: background-image 0.3s;

            #mail-link {
                position: relative;
                display: inline-block;

                .mail-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: opacity 0.3s;
                    width: 1.875rem;
                    height: 1.875rem;
                }

                .mail-img.hover {
                    opacity: 0;
                    pointer-events: none;
                }

                &:hover .mail-img.default {
                    opacity: 0;
                }

                &:hover .mail-img.hover {
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            #github-link {
                position: relative;
                display: inline-block;

                .github-img {
                    position: absolute;
                    top: 30px;
                    left: 0;
                    transition: opacity 0.3s;
                    width: 1.875rem;
                    height: 1.875rem;
                }

                .github-img.hover {
                    opacity: 0;
                    pointer-events: none;
                }

                &:hover .github-img.default {
                    opacity: 0;
                }

                &:hover .github-img.hover {
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            #linkedin-link {
                position: relative;
                display: inline-block;

                .linkedin-img {
                    position: absolute;
                    top: 60px;
                    left: 0;
                    transition: opacity 0.3s;
                    width: 1.875rem;
                    height: 1.875rem;
                }

                .linkedin-img.hover {
                    opacity: 0;
                    pointer-events: none;
                }

                &:hover .linkedin-img.default {
                    opacity: 0;
                }

                &:hover .linkedin-img.hover {
                    opacity: 1;
                    pointer-events: auto;
                }

            }

            #email {
                width: 1.875rem;
                height: 1.875rem;

                &:hover {
                    background-image: url("../../../../public/img/Property 1=hover blue (1).png");
                    cursor: pointer;
                }
            }
        }

        #name {
            position: absolute;
            display: flex;
            flex-direction: column;
            bottom: 0;
            height: 550px;
            gap: 1rem;
            text-align: center;

            h1 {
                color: $creme-white;
                font-weight: 400;
                font-size: 5.5rem;
                font-family: 'Anta';
            }

            h2 {
                text-align: center;

            }

            #logo {
                width: 7.5rem;
                top: 0;
                height: auto;
                margin: 0 auto;
                transition: all 0.3s ease-in;
            }

            #logo:hover {
                transform: scaleX(1.2);
            }

            #arrow {
                width: 2.37rem;
                height: 5.56rem;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                margin-top: 5rem;

                &:hover {
                    background-image: url("../../../../public/img/Property\ 1=Hover\ \(2\).png");
                    transition: transform 0.3s ease-in-out;
                    transform: translateY(5px);
                    cursor: pointer;
                }
            }
        }
    }
}

.hamburger {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    width: 30px;
    height: 20px;
    border: 0;
    background: none;
    cursor: pointer;

    .icon-burger,
    .icon-close {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        transition: opacity .3s;
    }

    /* Startzustand */
    .icon-burger.default {
        opacity: 1;
    }

    .icon-close {
        opacity: 0;
    }

    &:not(.open):hover .icon-burger.hover {
        opacity: 1;
    }

    /* Geöffnet: nur Close zeigen */
    &.open .icon-burger.default,
    &.open .icon-burger.hover {
        opacity: 0;
    }

    &.open .icon-close {
        opacity: 1;
    }
}

#burger_nav a {
    color: $primary-color;
    font-size: 28px;
    font-family: 'Josefin Sans';
}

#burger_nav a:hover {
    color: $creme-white;
}

#change_language {

    margin-right: 20px;
    font-size: 18px;
    align-items: center;

}

#change_language button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.4rem 1rem;
    border: none;
    font-size: 18px;
    background-color: $primary-blue;
    color: $primary-color;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &.active-lang {
        background-image: url('../../../../public/img/Ellipse.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: scale(1.1);
        font-weight: bold;
        color: $creme-white;
    }

    img {
        width: 18px;
        height: 18px;
    }
}