<section id="hero">
    <div id="left-container">
        <div id="bg-shape">
        </div>
        <div id="me">
            <img src="img/me4.png" alt="Me_desktop">
        </div>
        <div id="me_respons"> <img src="img/mee.png" alt="Me_responsive"></div>

    </div>

    <div id="right-container">

        <button class="hamburger" id="hamburger_button" (click)="toggleBurgerMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>


        <div *ngIf="burgerMenuVisible" class="burger_menu_system">
            <div id="burger_nav">
                <a href="#why-me">
                    <p>{{'NAV.NAV_WHY_ME' | translate}}</p>
                </a>
                <a href="#my-skills">
                    <p>{{'NAV.NAV_SKILLS' | translate}} </p>
                </a>
                <a href="#my-projects">
                    <p> {{'NAV.NAV_PROJECTS' | translate}} </p>
                </a>
                <a href="#contact">
                    <p>{{'NAV.NAV_CONTACT' | translate}}</p>
                </a>
                <div id="change_language">
                    <button (click)="useLanguage('en')" [ngClass]="{ 'active-lang': selectedLang === 'en' }">EN

                    </button>
                    <button (click)="useLanguage('de')" [ngClass]="{ 'active-lang': selectedLang === 'de' }">DE


                    </button>
                </div>

            </div>


        </div>



        <div id="socmedia">
            <a href="mailto:mdanielyan50@gmail.com " target="_blank"> <img id="email" src="img/Email button.png"
                    alt="Email"></a>
            <a href="https://github.com/Magda357" target="_blank"><img id="github" src="img/Github button.png"
                    alt="Github"></a>
            <a href="https://de.linkedin.com/" target="_blank"><img id="linkedin" src="img/Linkedin button.png"
                    alt="linkedin"></a>
        </div>
        <div id="name">
            <img id="logo" src="img/logoMD.png" alt="Logo">
            <h1>Magda Danielyan </h1>
            <h2>{{'HERO.TITLE'| translate}}</h2>
            <a href="#why-me"><img id="arrow" src="img/Arrow down.png" alt=""> </a>
        </div>

    </div>

</section>
<app-nav id="app-nav" />