<section id="menu_bar">
    <div id="logo_menu">
        <a href=""> <img src="img/logoMD.png" alt=""> </a>
    </div>

    <div class="menu_system" id="menu_hide">
        <a href="#why-me">
            <p>Why me </p>
        </a>
        <a href="#my-skills">
            <p>Skills </p>
        </a>
        <a href="#my-projects">
            <p> Projects </p>
        </a>
        <a href="#contact">
            <p>{{'TITLE' | translate}}</p>
        </a>
    </div>


    <div id="change_language">
        <button (click)="useLanguage('en')">EN</button>
        <button (click)="useLanguage('de')">DE</button>
    </div>


</section>