<section id="menu_bar">
    <div id="logo_menu">
        <a href=""> <img src="img/logoMD.png" alt=""> </a>
    </div>

    <div id="menu_system">
        <a href="#why-me">
            <p>Why me </p>
        </a>
        <a href="#my-skills">
            <p>Skills </p>
        </a>
        <a href="#my-projects">
            <p> Projects </p>
        </a>
        <a href="#contact">
            <p>Contact </p>
        </a>
    </div>

    <div id="change_language"> DE EN
    </div>


</section>