$primary-color: #262E34;
$primary-blue: #89BCD9;
$creme-white: #F8F5EC;
$light-grey: #3F464A;
$error: #E44C36;

/* combination 2
$primary-color2:#042639;
 $orange: #F28A62;
 $cremig:#F8F5EC; 
 */

/*  combination 3
$primary-color3:#042639;
 $hellorang: #F9CB71;
 $white:#FFFFFF;  */

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: auto;

}

html {
  scroll-padding-top: 6.87rem;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: $primary-color;
  box-sizing: border-box;
}



@font-face {
  font-family: 'Anta';
  src: url('/fonts/anta/Anta-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/josefinSans/static/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/josefinSans/static/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/josefinSans/static/JosefinSans-Medium.ttf') format('truetype');
}

h2 {
  font-family: 'Josefin Sans';
  font-style: Regular;
  font-size: 2.5rem;
  color: #F8F5EC;
  font-weight: 400;
}


h3 {
  font-family: 'Anta';
  display: flex;
  justify-content: center;
  font-size: 3.75rem;
  font-weight: 400;
  color: #89BCD9;

}

a {
  text-decoration: none;
}