<section id="footer">
    <div id="footer_content">

        <div id="left_container">
            <a href="imprint">
                <p> Legal notice</p>
            </a>

            <p>&copy; Magda Danielyan 2025</p>
        </div>

        <div id="logo"> <img src="img/logoMD.png " alt="Logo"></div>



        <div id="right_container">

            <a href=""><img src="img/Property 1=dark (1).png" target="_blank" alt="Github"></a>
            <a href="#mail"><img src="img/Property 1=dark (2).png" target="_blank" alt="Mail"></a>
            <a href="#ln"><img src="img/Property 1=dark (3).png" target="_blank" alt=""></a>
        </div>

    </div>

</section>